<!doctype html>
<html lang="en-sg">
  <!--customized html, css, js by Yang Kaiyuan from Yan Jie Group 2018-->
  <!--flask backend-->
  <!--
  o-O-o                  o   o           o-o     o 
    |                    |\ /|          /        | 
    |   o-o  oo o-o  o-o | O |  oo \ / O      oo | 
    |   |   | | |  |  \  |   | | |  o   \    | | | 
    o   o   o-o-o  o o-o o   o o-o-/ \   o-o o-o-o 
  -->

<head>
  <title>TransMaxCal-YJG</title>
  <meta charset="UTF-8" />
  <meta name="author" content="Yang Kaiyuan from Yan Jie Group" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
  <div>
    <p>Hi!</p>
    <p>Your computing request of <br />
     DNA-length = 100nm, <br />
     force = 10pN, <br />
     torque = 8pNnm, <br />
     and max-mode of 14 <br />
     is received by our server at {{ submit_time }}.</p>
    <p>Now TransMaxCal will process your request. It usually takes 30 minutes to return the results. How exciting!</p>
    <p>This bat will keep flying until the calculation is done!</p>
    <hr />
    <img src="{{ url_for('static', filename='bat.gif') }}" alt="calculating..." />
    <!-- from CC https://giphy.com/gifs/art-pixel-drawing-h9zd0FSIbcU5q-->
    <hr />
    <button id="process_input">Click to show current server local time</button>
    <p id="result">...</p>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type=text/javascript>
    $(function() {
        $('#process_input').bind('click', function() {
            $.getJSON('http://137.132.69.48:7717/jsonshowtime',
            function(data) {
                $("#result").text("Localtime of  our computing server is "
                 + data.result);
            });
            return false;
        });
    });
  </script>

</body>
</html>
