<!doctype html>
<html lang="en-sg">
  <!--customized html, css, js by Yang Kaiyuan from Yan Jie Group 2018-->
  <!--flask backend-->
  <!--
  o-O-o                  o   o           o-o     o
    |                    |\ /|          /        |
    |   o-o  oo o-o  o-o | O |  oo \ / O      oo |
    |   |   | | |  |  \  |   | | |  o   \    | | |
    o   o   o-o-o  o o-o o   o o-o-/ \   o-o o-o-o
  -->

<head>
  <title>TransMaxCal-YJG</title>
  <meta charset="UTF-8" />
  <meta name="author" content="Yang Kaiyuan from Yan Jie Group" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
  <div>
    <p><b>Hi!</b></p>
    <p>Your computing request of <br />
     DNA-length = {{ DNA_length }}nm, <br />
     force = {{ force }}pN, <br />
     torque = {{ torque }}pNnm, <br />
     and max-mode of {{ max_mode }} <br />
     is received by our server at {{ submit_time }}.</p>
    <p>Now TransMaxCal will process your request. It usually takes 30 minutes to return the results.</p>
    <p>This bat will keep flying until the calculation is done!</p>
    <hr />
    <div id="serverMsgInit"></div>
    <div id="serverMsg">Calculating..</div>
    <div id="bat">
      <img src="{{ url_for('static', filename='bat.gif') }}" alt="calculating..." />
      <!-- from CC https://giphy.com/gifs/art-pixel-drawing-h9zd0FSIbcU5q-->
    </div><!--bat-->
    <hr />
    <button id="process_input">Click to show current server local time</button>
    <p id="result">...</p>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!--local fallback for jquery-->
  <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-3.3.1.min.js') }}">\x3C/script>')</script>

  <script type=text/javascript>
    // pollingCall global variable to be used 
    var pollingCall;

    // click to show local server time
    $(function() {
        $("#process_input").bind("click", function() {
            $.getJSON("http://137.132.69.48:7717/jsonshowtime/",
            function(data) {
                $("#result").text("Localtime of our computing server is "
                 + data.result);
                 console.log("jsonshowtime's data is ", data);
            });
            var testgetJson = $.getJSON("http://137.132.69.48:7717/jsonshowtime/");
            console.log(testgetJson);
            return false;
        });
    });

    // submit parameters to transmaxcal
    $(document).ready(function(){
        $.getJSON("http://137.132.69.48:7717/transmaxcal/",
        {
            DNA_length: {{ DNA_length }},
            force: {{ force }},
            torque: {{ torque }},
            max_mode: {{ max_mode }}
        },
        function(data) {
            // check if computation from transmaxcal has started
            if (data.computationStarted) {
                $("#serverMsgInit").html("<h2>" + data.serverMsg +
                 "</h2>" + 
                 "<button onclick='terminateCal()'>Cancel Calculation</buton>" +
                 "<br />");
                console.log("transmaxcal's data is ", data);
                // polling starts after sucess of ajax/data
                // poll the server status every 15 seconds
                // pollingCall is global variable
                pollingCall = setInterval( function() {
                    pollServer();
                }, 15000);
            } else {
                // if tranxmaxcal fails to even start
                console.log("TransMaxCal not started...");
                $("#serverMsgInit").html("<h2>Program failed to start</h2>");
                $("#serverMsg").html("<p>Sorry, please come back later.</p>");
                $("#bat").html("D;");
            }
        });
    });

    // polling function requesting json from check status route
    function pollServer() {
        $.getJSON("http://137.132.69.48:7717/check_computation_status/",
        function(data) {
            if (data.computationStatus == false) {
                $("#serverMsg").text("Calculating...");
                console.log("check_computation_status's data is ", data);
            } else {
                clearInterval(pollingCall);
                if (data.result == "") {
                    // if TransMaxCal stops before result obtained
                    $("#serverMsgInit").html("<h2>Program Stopped...</h2>");
                    $("#serverMsg").html("<p>It seems that TransMaxCal has stopped...@" +
                     data.done_time + "</p>");
                    $("#bat").html("<p>Sorry, please try again later :D</p>");
                } else {
                    // otherwise compuation success!
                    $("#serverMsgInit").html("<h2>Program Finished</h2>");
                    $("#serverMsg").html("<h1>Done!</h1>" + "<p>@" +
                     data.done_time + "</p>");
                    $("#bat").html("<h1>Results:</h1><br />" + "<p>" +
                     data.result.replace(/\n/g, "<br />") + "</p>");
                    console.log("check_computation_status's data is now", data);
                }
            }
        });
    }

    // click button to cancel the calculation and close popup
    function terminateCal() {
        $.getJSON("http://137.132.69.48:7717/kill_transmaxcal/",
        {
            stopCal: "confirmed",
        },
        function(data) {
            if (data.confirmedkill == true) {
                console.log("pollingCall is now ", pollingCall);
                clearInterval(pollingCall);
                $("#serverMsgInit").html("<h2>Request Cancelled...</h2>");
                $("#serverMsg").html("<p>You cancelled the calculation @" +
                 data.done_time + "</p>");
                $("#bat").html("<p>You can always submit another request :D</p>");
            }
        });
    }

  </script>

</body>
</html>
